# Version 指定版
google-cloud-discoveryengine==0.12.3
google-cloud-aiplatform==1.38.1
google-cloud-storage==2.13.0
google-auth==2.23.4
fastapi[standard]
uvicorn==0.24.0.post1
requests==2.31.0
gunicorn==21.2.0
streamlit==1.28.1