flask[async]==3.0.3
gunicorn==22.0.0
cloudevents==1.10.1
pypdf==4.2.0
google-cloud-aiplatform==1.49.0
vertexai==1.49.0
langchain==0.2.3
langchain-community==0.2.4
langchain-google-vertexai==1.0.5
pgvector==0.2.5
asyncio==3.4.3
asyncpg==0.29.0
cloud-sql-python-connector[asyncpg]==1.9.2
numpy==1.26.4
transformers==4.41.2